<form method="post" action="{{ path('admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Est tu sur de vouloir supprimer cette utilisateur');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn "><i class="fa-regular fa-trash-can" style="color: #1b1a21;"></i></button>
</form>