{{ form_start(userForm) }}
<div class="te-form-error">
    {{ form_errors(userForm) }}
</div>

    {{ form_widget(userForm) }}


<button type="submit"  class="btn te-btn" >Valider</button>
{{ form_end(userForm) }}
