{% extends 'base.html.twig' %}

{% block title %}Toiles et Papiers{% endblock %}

{% block body %}

    <div class="te-admin-grid">
        <aside class="te-admin-aside">
            {{ include('admin/includes/_aside.html.twig') }}
        </aside>
        <main class="te-admin-main d-flex justify-content-center flex-column">
            <h1 class="text-center fs-2 mt-3">Modifier une oeuvre</h1>
            <div class="container d-flex flex-column align-items-center">
                <div class="te-admin-main-content m-3 p-4 w-75 ">

                    {{ include('admin/user/_form.html.twig') }}

                </div>
            </div>
        </main>
    </div>
{% endblock %}