{% extends 'base.html.twig' %}

{% block title %}Toiles et Papiers{% endblock %}

{% block body %}

    <div class="container d-flex  flex-wrap justify-content-center mt-3">
        {% for paint in pagination %}
            {% include "./includes/_card.html.twig" %}

        {% endfor %}
    </div>

    {% include "./includes/_paginator.html.twig" %}

        {% include "includes/_toast.html.twig" %}
{% endblock %}
