<form method="post" action="{{ path('admin_delete', {'id': paint.id}) }}" onsubmit="return confirm('Est tu sur de vouloir supprimer ce tableaux');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paint.id) }}">
    <button class="btn "><i class="fa-regular fa-trash-can" style="color: #1b1a21;"></i></button>
</form>