{% extends 'base.html.twig' %}

{% block title %}Toiles et Papiers{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle oeuvre</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('admin_list') }}">Retour à la liste</a>

{% endblock %}