<div class="card card-show-img m-3  te-bg te-shadow" style="width: 22rem;">
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 110%;">
        <a href="/show/{{ paint.slug }}"><img class="card-img-top"
                                            src="{{ asset('uploads/images/paint/') }}{{ paint.paintImage }}"
                                            alt=""></a>
        {#<h5 class="card-title text-center te-card-title">{{ paint.paintName }}</h5>#}
    </div>
</div>