<footer class="d-flex align-items-center justify-content-between">
    <div>
        <p class="m-0 ps-5">Copyright 2023 Gibon David</p>
    </div>
    <div class="pe-5 text-center">
        <a class="text-decoration-none te-color " href="/templates/Mention/mention.html.twig"><p class="mb-0">Mention légale</p></a>
        <a class="text-decoration-none te-color" href="mailto:gibon.david@live.fr">contact</a>
    </div>
</footer>