<footer class="d-flex align-items-center justify-content-between">
    <div>
        <p class="te-tel-ps m-0 ps-1">Copyright 2023 Gibon David</p>
    </div>
    <div class="te-tel-pe pe-1 text-center">
        <a class="text-decoration-none te-color " href="{{ path('app_mention') }}"><p class="mb-0">Mention légale</p></a>
        <a class="text-decoration-none te-color" href="mailto:gibon.david@live.fr">contact</a>
    </div>
</footer>