.te-admin-grid{
    display: grid;
  grid :
  'admin-aside admin-main' 1fr

  / 200px 1fr;
}


.te-admin-aside{
  grid-area: admin-aside;
  border-right: 1px solid black;
}

.te-admin-main{
  grid-area: admin-main;
}

.te-admin-main-content{
  box-shadow: $te-shadow;
}
.te-admin-aside-content a{
text-decoration: none;
  color: black;
  margin-bottom:2rem;
  font-size : 1.5rem;
}

.te-col-name {
  width: 20%;
}
.te-col-taille {
  width: 15%;
}
.te-col-tableau {
  width: 5%;
}
.te-col-desc{
  width: 60%;
}
.te-col-inspi{
  width: 40%;
}
.te-col-modify{
  text-align: center;
}

.te-height-cat{
  height: calc(100vh - 100px);
}

.te-admin-show-img{
  width: 50px;
}