.te-btn {
  --bs-btn-font-weight: 600;
  --bs-btn-bg: #f5f5dc;
  --bs-btn-border-color:  #f5f5dc;
  --bs-btn-hover-bg: #f5f5dc;
  --bs-btn-hover-border-color: #{shade-color(#f5f5dc, 10%)};
  --bs-btn-focus-shadow-rgb: #f5f5dc;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color(#f5f5dc, 15%)};
  --bs-btn-active-border-color: #{shade-color(#f5f5dc, 15%)};
}
