.te-bg {
  background: $te-bg-color;
}
.te-shadow{
  box-shadow: $te-shadow;
}
.te-min-h{
  min-height: 635px;
}
.card{
  transition: transform .1s;
}
.card:hover{
  -ms-transform: scale(1.0); /* IE 9 */
  -webkit-transform: scale(1.0); /* Safari 3-8 */
  transform: scale(1.1);
  z-index: 1;
}