.page-link{
  color: black !important;
}
.pagination a {
  color: black !important;
}
.page-link.active, .active > .page-link{
  background-color: #E9E5E5;
}

.pagination{
  --bs-pagination-padding-x: 0.5rem;
}