.te-grid {
  display: grid;
  grid:
  "aside descriptif" 2fr
 "comment comment" auto
    / 1fr 1fr;

}

aside {
  grid-area: aside;
}

main {
  grid-area: descriptif;
}

.te-grid-comment {
  grid-area: comment;
}

.te-show-img {
  width: 600px;
  cursor: pointer;
}

.te-font-section {
  font-family: $te-fontFamily-Title;
}

.te-p {
  text-indent: 20px;
}

.te-img-inspi {
  width: 250px;
}

.te-border-cat {
  border: 1px solid black;
  border-radius: 20px;
  padding: 3px 4px;
  margin: -3px;
  cursor: pointer;
  background-color: #F5F5DC;
}

@media screen and (max-width: 750px) {

  .te-grid {
    display: grid;
    grid:
         "aside" 1fr
         "descriptif" 1fr
         "comment" auto
           / 1fr;
  }
  .te-show-img {
    width: 300px;
    cursor: pointer;
  }
  .te-show-phone{
    width: 90%;
  }

  .te-grid-inspi{
   display: grid;
    grid: "textInspi" 1fr
          "ImageInspi" auto
            / 1fr;
  }
  .te-grid-imageInspi{
    grid-area: imageInspi;
  }
    .te-grid-textInspi{
        grid-area: textInspi;
    }
  .te-img-inspi {
    padding-bottom: 1rem;
  }

  .te-tel-w{
    width: 150px;
  }
}