<div class="te-admin-aside-content d-flex flex-column">
    <a class="te-font-text mt-3" href="/admin"> Liste des oeuvres</a>
    <a class="te-font-text" href="/admin/new">Nouvelle oeuvre</a>
    <a class="te-font-text" href="/admin_cat/category">Liste des catégories</a>
    <a class="te-font-text" href="/admin_cat/category/new">Nouvelle catégorie</a>
    <a class="te-font-text" href="/admin_user/user"> Liste des utilisateurs</a>
</div>