@import "~bootstrap/scss/bootstrap";
@import "modules/variables.scss";
@import "modules/button.scss";
@import "modules/navbar.scss";
@import "modules/card.scss";
@import "modules/show.scss";
@import "modules/paginator.scss";
@import "modules/login.scss";
@import "modules/comments.scss";
@import "modules/admin.scss";
@import "modules/table.scss";
@import "modules/form.scss";
@import "modules/footer.scss";

body {
    background-color: $te-bg-color;
    margin: 0;
    min-height: 100vh;

}
