<form method="post" action="{{ path('admin_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Est tu sur de vouloir supprimer ce commentaire');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn "><i class="fa-regular fa-trash-can" style="color: #1b1a21;"></i></button>
</form>