<form method="post" action="{{ path('admin_cat_delete', {'id': category.id}) }}" onsubmit="return confirm('Est tu sur de vouloir supprimer cette catégorie');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn "><i class="fa-regular fa-trash-can" style="color: #1b1a21;"></i></button>
</form>