{{ form_start(categoryForm) }}
{% if title  is defined  %}
    <h2 class="title">{{ title }}</h2>
{% endif %}
    {{ form_widget(categoryForm) }}


<button type="submit"  class="btn te-btn" >Valider</button>
{{ form_end(categoryForm) }}
