{% extends 'base.html.twig' %}

{% block title %}Toiles et Papiers{% endblock %}

{% block body %}
    <div class="te-admin-grid">
    <aside class="te-admin-aside te-height-cat">
        <div class="te-admin-aside-content d-flex flex-column">
            <a class="te-font-text mt-3" href="/admin"> Liste des oeuvres</a>
            <a class="te-font-text" href="/admin/new">Nouvelle oeuvre</a>
            <a class="te-font-text" href="/admin/category">Liste des catégories</a>
            <a class="te-font-text" href="/admin/category/new">Nouvelle catégorie</a>
        </div>
    </aside>
    <main class="te-admin-main d-flex justify-content-center flex-column">
        <h1 class="text-center fs-2 mt-3">Liste des catégories</h1>
        <div class="container mt-3">
            <div class="">
                <table class="table">
                    <thead>
                    <tr>
                        <th  class="te-col-name">Nom de la catégorie</th>
                        <th  class="te-col-desc">Image de la catégorie</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td class="te-col-name">{{ category.categoryName }}</td>
                            <td class="te-col-desc">{{ category.categoryImage }}</td>
              {#              <td class="te-col-modify"><a href="{{ path('adminedit',{ id: paint.id}) }}"><i class="fa-regular fa-pen-to-square" style="color: #1b1a21;"></i></a></td>
                            <td class="te-col-modify">{{ include('admin/_delete.html.twig') }}</td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}